*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.post-link {
  cursor: pointer;
  margin-left: 25px;
  color: #fff;
}
.user-list ul {
  margin: 0 25px 0 0 ;
  padding-left: 0;
}
.user-list ul li {
  padding: 3px 0;
  font-weight: 500;
  color: #525F7F;
}

.user-list .description li {
  color: #8898AA
}
