*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.post-link {
  cursor: pointer;
  margin-left: 25px;
  color: #fff;
}
.user-list ul {
  margin: 0 25px;
}
.user-list ul li {
  padding: 10px 0;
}